.cart-container{
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.cart-title{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}
.cart-table{
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.cart-table thead{
    background-color: #007bff;
    color: #fff;
}
.cart-table tr:hover{
    background-color: #f1f1f3;

}
.cart-table th{
    font-weight: bold;
}
.cart-table td{
    color: #555;
}
.quantity-input{
    width: 60px;
    padding: 5px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.cart-summery{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-summery h3{
    font-size: 20px;
    color: #333;
}
.pay-now-btn{
    background-color: #28a689;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.pay-now-btn:hover{
    background-color: #218838;
}
.remove-btn{
    background-color: red;
    color: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    border: none;
    font-size: 14px;
}
